﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   

</head>
<body>

    <div class="field">
        <img src="https://www.weareinnovative.co.uk/wp-content/uploads/2015/06/got2.jpg" align="middle">

        <div class="navbar">
            <ul>
                <h2>
                    @Html.ActionLink("LibLighthouse", "Index", "Home")
                    @Html.ActionLink("Literatura", "Index", "Books")
                    @Html.ActionLink("Autorzy", "Index", "Authors")
                    @Html.Partial("_LoginPartial")
                    <h2>
            </ul>
        </div>

        <h1>LibLighthouse</h1>
        <div class="textfield">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt mi lorem, non consectetur libero dictum quis. Vestibulum risus sapien, rhoncus ut justo eu, luctus luctus neque. Quisque mi ex, tincidunt lacinia molestie feugiat, interdum quis magna. Ut non accumsan sem. Vestibulum sodales magna ac justo hendrerit cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ac maximus metus. Ut luctus mi nec turpis viverra lobortis. Sed ornare vestibulum turpis id aliquet. Nam ac aliquet turpis. Suspendisse non facilisis urna. Nulla in pretium nisi. Proin ut scelerisque est. Sed at porttitor augue, lacinia dictum ipsum. Nam ac leo consequat, tincidunt urna vitae, vulputate velit. Maecenas quis nulla ultricies, vehicula arcu et, tempor dolor.
        </div>

        @RenderBody()

        <div class="footer">
            LibLighthouse Company Sp. z.o.o.<br />
            created by Marcin Krupa s13711
        </div>
    </div>

    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="~/Scripts/validation.js"></script>
</body>
</html>
