﻿@using tin_pja_bookapp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h1>Edytowanie</h1>
<div class="textfield">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <b>Email:</b>

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            <b>Hasło:</b><br />

            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)

            <input type="submit" value="Log in" class="btn btn-default" />

            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
        }
    </section>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
