﻿@model tin_pja_bookapp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h1>Rejestracja</h1>
<div class="textfield">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name="form", onsubmit = "validateForm()", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new {  })

        <b>Email:</b><br />

        @Html.TextBoxFor(m => m.Email, new { id = "email" })

        <b>Hasło:</b><br />

        @Html.PasswordFor(m => m.Password, new { })

        <b>Potwierdź Hasło:</b>

        @Html.PasswordFor(m => m.ConfirmPassword, new { })

        <input type="submit" class="btn btn-default" value="Register" />

    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
