﻿body {
    background-color: #486D88;
}

.field {
    margin: auto;
    width: 90%;
    background-color: #708EA3;
    padding-top: 2%;
    /* border */
    border: 2px dashed white;
    border-radius: 15px 50px;
}

.navbar {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #486D88;
    word-spacing: 30px;
    text-align: center;
    /* border */
    border-style: dashed;
    border-width: 1px
}

.textfield {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 2%;
    padding: 2% 2% 2% 2%;
    background-color: #486D88;
    /* border */
    border-style: dashed;
    border-width: 1px
}

.footer {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #486D88;
    text-align: center;
    /* border */
    border-style: dashed;
    border-width: 1px
}

img {
    width: 72%;
    display: block;
    margin: 0 auto;
    /* border */
    border-style: solid;
    border-width: 1px
}

h1 {
    color: #172d3d;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    padding-left: 10%;
}

h2 {
    font-family: 'Cinzel', serif;
}

h3 {
    color: #44657c;
    font-family: 'Cinzel', serif;
    text-align: right;
}

a {
    color: #172d3d;
    text-decoration: none;
}

    a:hover {
        color: cadetblue;
        text-decoration: none;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed black;
    margin: 1em 0;
    padding: 0;
}

/*tablica*/

td, th {
    border: 1px dashed black;
    padding: 8px;
    background-color: #44657c;
}

tr:nth-child(even) {
    background-color: #486c84;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: darkslateblue;
    background-color: #43647c;
    color: black;
}

/* input boxes */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #172d3d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
