﻿@model tin_pja_bookapp.Models.BookViewModel

@{
    ViewBag.Title = "Create";
}

<h1>Dodawanie</h1>
<div class="textfield">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name="valid", onsubmit = "return validateCRUD()" } ))
    {
        @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "")

               <b>Tytuł</b>

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id="str" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new {  })

               <b>Opis</b>

                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Description, "", new {  })

               <b>Autor</b>

                    @Html.DropDownList("CurrentIdAuthor", null, htmlAttributes: new {  })
                    @Html.ValidationMessageFor(model => model.CurrentIdAuthor, "", new {  })

                    <input type="submit" value="Create" />

    }

    @Html.ActionLink("Back to List", "Index")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
