﻿@model tin_pja_bookapp.Models.BookViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Usuń @Html.DisplayFor(model => model.Name)</h1>

<div class="textfield">
    <b>Tytuł: </b>

    @Html.DisplayFor(model => model.Name)

    <b>Autor: </b>

    @Html.DisplayFor(model => model.CurrentAuthor.Name)


    <dt>
        <b>Opis: </b>
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
