﻿@model tin_pja_bookapp.Models.BookViewModel

@{
    ViewBag.Title = "Details";
}


<h1>@Html.DisplayFor(model => model.Name)</h1>

<div class="textfield">
    <b>Tytul</b>

    @Html.DisplayFor(model => model.Name)

    <b>Autor:</b>

    @Html.DisplayFor(model => model.CurrentAuthor.Name)

    <dt>
        <b>Opis</b>
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>



    <br /><hr /><br />
    <b>Oceń* między 0, a 10 naszą książkę!</b>
    <form name="valid" onsubmit="return validateForm()" method="POST">
        <input id="mark" type="text" /> <br>

        <input type="submit" value="Oceń" />
    </form>

    <font size="1">* oceny przydadzą się nam, aby w przyszłości stworzyć ranking naszych książek. Póki co funkcjonalność jest w fazie tworzenia.</font>

    <br /><br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBook }) |
    @Html.ActionLink("Back to List", "Index")


</div>



