﻿@model tin_pja_bookapp.Models.BookViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edytowanie</h1>
<div class="textfield">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "valid", onsubmit = "return validateCRUD()" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { })
        @Html.HiddenFor(model => model.IdBook)

        <b>Tytul</b>

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id="str" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { })
        <br />

        <b>Opis</b>

        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { } })
        @Html.ValidationMessageFor(model => model.Description, "", new { })
        <br />
        <b>Autor</b>

        @Html.DropDownList("CurrentIdAuthor", null, htmlAttributes: new { })
        @Html.ValidationMessageFor(model => model.CurrentIdAuthor, "", new { })
        <br />
        <input type="submit" value="Save" />
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
