﻿@model IEnumerable<tin_pja_bookapp.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h1>Wydane Przez Nas Pozycje</h1>

<div class="textfield">
    <p><h3>
        @Html.ActionLink("Dodaj Książkę", "Create")
    </h3></p>
    <table class="table">
        <tr>
            <th>
                Autor
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Opis
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentAuthor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdBook }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdBook }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdBook })
                </td>
            </tr>
        }

    </table>
</div>