﻿@model tin_pja_bookapp.Models.AuthorViewModel

@{
    ViewBag.Title = "Create";
}

<h1>Dodaj Autora</h1>

<div class="textfield">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "valid", onsubmit = "return validateCRUD()" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { })

        @Html.LabelFor(model => model.Name, htmlAttributes: new { })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id="str" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { })


        @Html.LabelFor(model => model.Description, htmlAttributes: new { })

        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { } })
        @Html.ValidationMessageFor(model => model.Description, "", new { })

        <input type="submit" value="Create" />
    }

    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
