﻿@model tin_pja_bookapp.Models.AuthorViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Usuwanie</h1>

<div class="textfield">
    <h5>Are you sure you want to delete this?</h5>

    <b>Autor:</b>

    @Html.DisplayFor(model => model.Name)

    <br /><b>Informacje:</b>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
