﻿@model tin_pja_bookapp.Models.AuthorViewModel

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div class="textfield">
    <b>Personalia:</b>

    @Html.DisplayFor(model => model.Name)

    <dt>
        <b>Opis:</b>
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAuthor }) |
    @Html.ActionLink("Back to List", "Index")
</div>
