﻿@model tin_pja_bookapp.Models.AuthorViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edycja</h1>

<div class="textfield">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "valid", onsubmit = "return validateCRUD()" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { })
        @Html.HiddenFor(model => model.IdAuthor)

        <b>Personalia: </b>

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id="str" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { })


        <b>Informacje: </b>

        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { } })
        @Html.ValidationMessageFor(model => model.Description, "", new { })

        <input type="submit" value="Save"  />

    }


    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
