﻿@model IEnumerable<tin_pja_bookapp.Models.AuthorViewModel>

@{
    ViewBag.Title = "Index";
}

<h1>Autorzy</h1>
<div class="textfield">

    <h3>
        <p>
            @Html.ActionLink("Dodaj Autora", "Create")
        </p>
    </h3>
    <table class="table">
        <tr>
            <th>
                Imie
            </th>
            <th>
                Informacje
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdAuthor }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdAuthor }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAuthor })
                </td>
            </tr>
        }
    </table>

</div>
    