﻿@model IEnumerable<tin_pja_bookapp.Models.ArticleViewModel>


@{
    ViewBag.Title = "Home Page";
}


<h1>Skrawek Naszej Historii</h1>
<div class="textfield">
    Nullam tempor tincidunt diam vel posuere. Proin sed aliquam magna. Nam eu purus suscipit, accumsan dolor sit amet, commodo odio. Mauris pulvinar est at lorem sodales, in vestibulum arcu rhoncus. Praesent dolor odio, dignissim ac tristique vitae, tristique at eros. Suspendisse facilisis posuere lobortis. Maecenas imperdiet, lectus a sagittis consequat, nisl nunc interdum sem, id aliquet lacus nunc hendrerit magna. Morbi mattis eu nisi quis aliquam. Vestibulum lacus lorem, malesuada quis aliquam a, mollis a turpis. Integer non egestas augue. Donec lectus felis, suscipit eget tempus ut, porta et lorem. Curabitur mattis ultricies lorem.
    <br /><br />
    Aliquam erat volutpat. Donec fringilla, velit sed ultrices volutpat, elit lacus finibus felis, non accumsan odio ipsum eu diam. Sed sollicitudin dolor nisi, ut laoreet elit tristique vitae. Maecenas euismod nibh eget accumsan vehicula. Ut laoreet dapibus ligula. Etiam pretium justo sit amet elit convallis feugiat. Vestibulum semper, mauris quis auctor scelerisque, leo velit tincidunt nulla, vel porttitor lacus ante ac elit. Mauris tincidunt eleifend consequat. Phasellus fringilla, enim at sagittis viverra, tortor dui maximus velit, non tempus erat felis id nisi. Morbi mi leo, dapibus in ipsum ut, commodo gravida elit. Fusce nec massa id ante lobortis mattis a vel nisi. Sed convallis arcu et libero congue blandit. Aliquam a ex nulla. Nunc ac tristique arcu, ac accumsan sapien.
    <br /><br />
    Aliquam consequat fermentum turpis in tristique. Donec sodales, felis ac fermentum porttitor, quam enim volutpat nulla, ac mollis mauris odio vitae nulla. Sed maximus felis a laoreet iaculis. Nam consectetur tincidunt neque. In cursus mauris ut mauris cursus mattis non a sem. Praesent fermentum congue risus non hendrerit. In finibus dui non eleifend rhoncus. Donec aliquam dolor vel mauris convallis, vel bibendum nunc rutrum. Proin id cursus nisi. Pellentesque velit risus, interdum non elit euismod, malesuada suscipit massa. Quisque ipsum lorem, elementum vel suscipit eget, sagittis a arcu.
    <br /><br />
    Sed sed massa volutpat felis dapibus aliquet. Suspendisse vitae feugiat justo. Aliquam sed purus venenatis felis facilisis semper vel sit amet nisl. Morbi luctus rhoncus nisl, quis venenatis lectus convallis non. Suspendisse sollicitudin, risus non vestibulum interdum, velit nisl pellentesque erat, sit amet malesuada nulla mauris non eros. Sed tellus lacus, feugiat eget sagittis a, ultricies nec velit. Vestibulum ut semper dolor, vel imperdiet quam. In venenatis pulvinar urna vitae ultrices. Nunc lacinia purus quis augue vestibulum rutrum. Curabitur placerat ante eget lorem sagittis condimentum. Vestibulum ac sodales nulla. Quisque eget ullamcorper justo. Donec pretium mollis nunc quis tincidunt. Proin quis lorem sed dui ultricies convallis.
</div>

@foreach (var item in Model)
{
    <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
    <div class="textfield">
        @Html.DisplayFor(modelItem => item.Description)
    </div>
}




